<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>-->
<!--    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>-->
<!--</p>-->
<!--<p>-->
<!--    <a th:href="@{/}">Home</a>-->
<!--</p>-->

<!--&lt;!&ndash;UPLOAD PRODUCTS & CATEGORIES&ndash;&gt;-->
<!--<form action="#" class="p-5 bg-light" th:action="@{/admin/files/upload}"-->
<!--      method="post"-->
<!--      enctype="multipart/form-data">-->

<!--    <label class="control-label">Update products and categories with Excel</label>-->
<!--    <br/>-->
<!--    <input id="importedFile" name="importedFile" type="file" class="file">-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--        <input type="submit" value="Upload file" class="btn py-3 px-4 btn-primary">-->
<!--    </div>-->
<!--</form>-->


<!--<br>-->
<!--<br>-->

<!--&lt;!&ndash;UPLOAD PRODUCTS-QUANTITY&ndash;&gt;-->
<!--<form action="#" class="p-5 bg-light" th:action="@{/admin/files/uploadQuantity}"-->
<!--      method="post"-->
<!--      enctype="multipart/form-data">-->

<!--    <label class="control-label">Update products-quantity with Excel</label>-->
<!--    <br/>-->
<!--    <input id="importedFileQuantity" name="importedFile" type="file" class="file">-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--        <input type="submit" value="Upload file" class="btn py-3 px-4 btn-primary">-->
<!--    </div>-->
<!--</form>-->


<!--<br>-->
<!--<br>-->

<!--&lt;!&ndash;ALL PRODUCTS&ndash;&gt;-->
<!--<div class="row">-->
<!--    <div class="col-md-12" th:object="${products}">-->
<!--        &lt;!&ndash;Show All Items&ndash;&gt;-->


<!--        <div class="row" th:each="product : ${products}">-->
<!--            &lt;!&ndash;            <div th:if="${product.isHidden() == false}">&ndash;&gt;-->
<!--            &lt;!&ndash;            <img src="/images/Item-blank.jpg" alt="Image" width="90">&ndash;&gt;-->
<!--            <div class="col-md-1">-->
<!--                <img th:src="@{'/productPicture/' + ${product.id} + '/1'}" alt="Image"-->
<!--                     width="300">-->
<!--            </div>-->
<!--            &lt;!&ndash;            <br>&ndash;&gt;-->

<!--            &lt;!&ndash;UPLOAD PICTURES for products&ndash;&gt;-->
<!--            <div class="col-md-1">-->
<!--                <h3 class="mb-5"></h3>-->
<!--                <ul class="comment-list">-->
<!--                    <div class="comment-form-wrap pt-5" sec:authorize="isAuthenticated()">-->

<!--                        <h3 class="mb-5">Upload Product's Picture</h3>-->
<!--                        <form action="#" class="p-5 bg-light" th:action="@{/admin/productPicture}"-->
<!--                              th:object="${productPicture}"-->
<!--                              method="post"-->
<!--                              enctype="multipart/form-data">-->

<!--                            <div class="form-group">-->
<!--                                <label for="productId">productId</label>-->
<!--                                <textarea name="" id="productId" cols="20" rows="1"-->
<!--                                          th:field="*{productId}"></textarea>-->
<!--                            </div>-->

<!--&lt;!&ndash;                            <div name="index" type="hidden"&ndash;&gt;-->
<!--&lt;!&ndash;                                   data-th-value="${product.id}" th:value="${product.id}"&ndash;&gt;-->
<!--&lt;!&ndash;                                   class="mb-2" th:field="*{productId}">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                            <div class="form-group">-->
<!--                                <label for="picNum">picNum</label>-->
<!--                                <textarea name="" id="picNum" cols="20" rows="1"-->
<!--                                          th:field="*{picNum}"></textarea>-->
<!--                            </div>-->

<!--                            <label class="control-label">Select picture</label>-->
<!--                            <input id="importedFile2" name="importedFile2" type="file" class="file">-->
<!--                            <br/>-->
<!--                            <div class="form-group">-->
<!--                                <input type="submit" value="Save picture" class="btn py-3 px-4 btn-primary">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash;UPLOAD PICTURES for products&ndash;&gt;-->


<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.id} + ': ' +  ${product.id}">id</span>-->
<!--                </h4>-->
<!--            </div>-->

<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.name} + ': ' +  ${product.name}">name</span>-->
<!--                </h4>-->
<!--            </div>-->

<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.category} + ': ' +  ${product.category.name}">category</span>-->
<!--                </h4>-->
<!--            </div>-->

<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.subcategory} + ': ' +  ${product.subcategory.name}">subcategory</span>-->
<!--                </h4>-->
<!--            </div>-->

<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.price} + ': ' +  ${product.price}">price</span>-->
<!--                </h4>-->
<!--            </div>-->

<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.singlePackage} + ': ' +  ${product.singlePackage}">price</span>-->
<!--                </h4>-->
<!--            </div>-->

<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.isNew} + ': ' +  ${product.isNew()}">isNew</span>-->
<!--                </h4>-->
<!--            </div>-->

<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.isAction} + ': ' +  ${product.isAction()}">isAction</span>-->
<!--                </h4>-->
<!--            </div>-->

<!--            <div class="col-md-1">-->
<!--                <h4><span-->
<!--                        th:text="#{product.info} + ': ' +  ${product.info}">info</span>-->
<!--                </h4>-->
<!--            </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <h4>****************************************************************</h4>-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->