<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ваньовата къща се намира в скътаното в Родопа планина село Смилян. В нея ще се потопите в уюта на автентична родопска атмосфера">
    <meta name="keywords" content="Ваньовата къща, къща, къща за гости, почивка, сувенири, картини, пана, бижута, аксесоари, икони, рамки, свещи, полускъпоценни камъни, камък, смола, рисувано стъкло, ръчна изработка, дърво, смолян, смилян, родопи, родопите, дух, български, домашно, ръчно, майстор, естествени материали, природа">
    <title>Boutique-Rosi</title>
</head>
<body>

<div>
    <p>
        <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
    </p>
    <h1 th:text="#{greeting}"></h1>
    <ul>
        <li>
            <a th:href="@{/}">Home</a>
        </li>

        <li>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
        </li>

        <li>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </li>

        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        </li>

        <li>
            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Register</a>
        </li>

        <li>
            <a th:href="@{/international}">Change language</a>
        </li>
    </ul>
</div>

</body>
</html>