<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portfolio Details</title>
    <meta name="description" content="Ваньовата къща се намира в скътаното в Родопа планина село Смилян. В нея ще се потопите в уюта на автентична родопска атмосфера">
    <meta name="keywords" content="Ваньовата къща, къща, къща за гости, почивка, сувенири, картини, пана, бижута, аксесоари, икони, рамки, свещи, полускъпоценни камъни, камък, смола, рисувано стъкло, ръчна изработка, дърво, смолян, смилян, родопи, родопите, дух, български, домашно, ръчно, майстор, естествени материали, природа">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Company - v4.7.0
    * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a th:href="@{/}"><span>Rossi</span>Art</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a th:href="@{/}" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a th:href="@{/}">Начало</a></li>

                <li class="dropdown"><a href="#" class="active"><span>Продукти</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a th:href="@{'/products'}"><span th:text="'Всички'"></span></a>
                        </li>
                        <li>
                            <a th:href="@{'/products/new'}"><span th:text="'Нови'"></span></a>
                        </li>
                        <li>
                            <a th:href="@{'/products/inAction'}"><span th:text="'В акция'"></span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#"><span>Категории</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{'/products/' + ${category.name}}"><span th:text="${category.name}"></span></a>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/contacts}">Контакти</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Админ</a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Регистрация</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">Профил</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="navbar order-last order-lg-0">
            <a th:href="@{/shoppingCart}" th:text="'Количка(' + ${shoppingCart.order.size} + ')'"></a>
        </div>
        <div class="header-social-links d-flex">
            <a href="https://www.facebook.com/profile.php?id=100078410862618"
               class="facebook"><i class="bu bi-facebook"></i></a>
        </div>

    </div>
</header><!-- End Header -->


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Детайли за продукта</h2>
                <ol>
                    <li><a th:href="@{/}">Начало</a></li>
                    <li><a th:href="@{/products}">Всички продукти</a></li>
                    <li>Детайли за продукта</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <p>
        <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
    </p>

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4" th:object="${product}">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide" th:each="productPicture : ${productPictures}">
                                <img th:src="@{'/productPicture/' + ${productPicture.productId} + '/' +
                                    ${productPicture.picNum}}" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Детайли</h3>
                        <p th:if="${product.quantity < product.singlePackage}"
                           th:text="'Не е наличен. Запитай за наличности'" style="color: red"></p>

                        <form th:if="${product.quantity >= product.singlePackage}" action="/shoppingCart/add/"
                              th:attrappend="action=${product.id}" method="POST">
                            <a th:href="@{'/shoppingCart/add/' + ${product.id}}" onclick="this.parentNode.submit()"
                               class="portfolio-lightbox preview-link" title="Добави в количката"> <i
                                    class="bx bx-plus" th:text="'Добави в количката'"></i></a>
                        </form>
                        <ul>
                            <li><strong>Име</strong><span th:text="${': ' + product.name}"></span></li>
                            <li><strong>Категория</strong><span th:text="${': ' + product.category.name}"></span></li>
                            <li><strong>Подкатегория</strong><span th:text="${': ' + product.subcategory.name}"></span>
                            </li>
                            <li><strong>Цена</strong><span
                                    th:text="${': ' + #numbers.formatDecimal(product.price,1,2) + ' лв.'}"></span></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Информация</h2>
                        <p th:text="${product.info}">
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Rossi-Art</h3>
                    <p>
                        гр. Смолян <br>
                        ул. Хан Аспарух<br>
                        новия център <br><br>
                        <strong>Phone:</strong> +359 877 999 292<br>
                        <strong>Email:</strong> rossica_sm@abv.bg<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Полезни линкове</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/}">Начало</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/products}">Продукти</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/contacts}">Контакти</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/login}">Вход</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/sign-up}">Регистрация</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Категории</h4>
                    <ul>
                        <li th:each="category : ${categories}"><i class="bx bx-chevron-right"></i>
                            <a th:href="@{'/products/' + ${category.name}}"><span th:text="${category.name}"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Company</span></strong>. All Rights Reserved
            </div>

        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://www.facebook.com/profile.php?id=100078410862618" class="facebook"><i
                    class="bx bxl-facebook"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>