<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Product-update</title>
    <meta name="description" content="Ваньовата къща се намира в скътаното в Родопа планина село Смилян. В нея ще се потопите в уюта на автентична родопска атмосфера">
    <meta name="keywords" content="Ваньовата къща, къща, къща за гости, почивка, сувенири, картини, пана, бижута, аксесоари, икони, рамки, свещи, полускъпоценни камъни, камък, смола, рисувано стъкло, ръчна изработка, дърво, смолян, смилян, родопи, родопите, дух, български, домашно, ръчно, майстор, естествени материали, природа">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Company - v4.7.0
    * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a th:href="@{/}"><span>Rossi</span>Art</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a th:href="@{/}" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a th:href="@{/}">Начало</a></li>

                <li class="dropdown"><a href="#"><span>Продукти</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a th:href="@{'/products'}"><span th:text="'Всички'"></span></a>
                        </li>
                        <li>
                            <a th:href="@{'/products/new'}"><span th:text="'Нови'"></span></a>
                        </li>
                        <li>
                            <a th:href="@{'/products/inAction'}"><span th:text="'В акция'"></span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#"><span>Категории</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{'/products/' + ${category.name}}"><span th:text="${category.name}"></span></a>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/contacts}">Контакти</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="active">Админ</a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Регистрация</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">Профил</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="navbar order-last order-lg-0">
            <a th:href="@{/shoppingCart}" th:text="'Количка(' + ${shoppingCart.order.size} + ')'"></a>
        </div>
        <div class="header-social-links d-flex">
            <a href="https://www.facebook.com/profile.php?id=100078410862618"
               class="facebook"><i class="bu bi-facebook"></i></a>
        </div>

    </div>
</header><!-- End Header -->


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Промени продукт</h2>
            <ol>
                <li><a th:href="@{/}">Начало</a></li>
                <li>Промени продукт</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<!-- ======= Register Section ======= -->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <h3>Промени продукт</h3>

                    <p>
                        <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
                    </p>

                    <form class="form-signin" action="#" th:action="@{/admin/crud/updateProduct}" th:object="${product}"
                          method="post">
                        <div class="form-label-group">
                            <input type="hidden" th:field="*{id}" id="inputId" class="form-control"
                                   placeholder="${product.id}">
                            <label for="inputId"></label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" th:field="*{name}" id="inputName" class="form-control"
                                   placeholder="${product.name}" required autofocus>
                            <label for="inputName"></label>
                        </div>
                        <div class="form-label-group">
                            <select th:field="*{category}" id="inputCategory" class="form-control" required>
                                <option th:each="categ : ${categories}"
                                        th:value="${categ.id}"
                                        th:text="${categ.name}"
                                        th:selected="${product.category.name == categ.name}">category
                                </option>
                            </select>
                            <label for="inputCategory"></label>
                        </div>
                        <div class="form-label-group">
                            <select th:field="*{subcategory}" id="inputSubcategory" class="form-control" required>
                                <option th:each="subcateg : ${subcategories}"
                                        th:value="${subcateg.id}"
                                        th:text="${subcateg.name}"
                                        th:selected="${product.subcategory.name == subcateg.name}">subcategory
                                </option>
                            </select>
                            <label for="inputSubcategory"></label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" th:field="*{info}" id="inputInfo" class="form-control"
                                   placeholder="${product.info}" required>
                            <label for="inputInfo"></label>
                        </div>
                        <div class="form-label-group form-control">
                            <label for="inputPrice">Цена</label>
                            <input type="text" th:field="*{price}" id="inputPrice"
                                   placeholder="${product.price}" required>
                        </div>
                        <div class="form-label-group form-control">
                            <label for="inputSinglePackage">Пакетирано кол.</label>
                            <input type="text" th:field="*{singlePackage}" id="inputSinglePackage"
                                   placeholder="${product.singlePackage}" required>
                        </div>
                        <div class="form-label-group form-control">
                            <label for="inputQuantity">Налично кол.</label>
                            <input type="text" th:field="*{quantity}" id="inputQuantity"
                                   placeholder="${product.quantity}" required>
                        </div>
                        <div class="form-label-group form-control">
                            <label for="inputIsNew">Нов ли е?</label>
                            <label for="inputIsNew"></label>
                            <select id="inputIsNew" th:field="*{new}">
                                <option value="true"  th:selected="${product.isNew == true}">Да</option>
                                <option value="false" th:selected="${product.isNew != true}">Не</option>
                            </select>
                        </div>
                        <div class="form-label-group form-control">
                            <label for="inputIsAction">В акция ли е?</label>
                            <label for="inputIsAction"></label>
                            <select id="inputIsAction" th:field="*{action}">
                                <option value="true"  th:selected="${product.isAction == true}">Да</option>
                                <option value="false" th:selected="${product.isAction != true}">Не</option>
                            </select>
                        </div>
                        <div class="form-label-group form-control">
                            <label for="inputIsHidden">Скрит ли да е?</label>
                            <label for="inputIsHidden"></label>
                            <select id="inputIsHidden" th:field="*{hidden}">
                                <option value="true"  th:selected="${product.isHidden == true}">Да</option>
                                <option value="false" th:selected="${product.isHidden != true}">Не</option>
                            </select>
                        </div>

                        <button class="btn-buy" type="submit" value="Промени"> Промени</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Register Section -->


<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Rossi-Art</h3>
                    <p>
                        гр. Смолян <br>
                        ул. Хан Аспарух<br>
                        новия център <br><br>
                        <strong>Phone:</strong> +359 877 999 292<br>
                        <strong>Email:</strong> rossica_sm@abv.bg<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Полезни линкове</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/}">Начало</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/products}">Продукти</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/contacts}">Контакти</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/login}">Вход</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/sign-up}">Регистрация</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Категории</h4>
                    <ul>
                        <li th:each="category : ${categories}"><i class="bx bx-chevron-right"></i>
                            <a th:href="@{'/products/' + ${category.name}}"><span th:text="${category.name}"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Company</span></strong>. All Rights Reserved
            </div>

        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://www.facebook.com/profile.php?id=100078410862618" class="facebook"><i
                    class="bx bxl-facebook"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>