<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Shopping cart</title>
    <meta name="description" content="Ваньовата къща се намира в скътаното в Родопа планина село Смилян. В нея ще се потопите в уюта на автентична родопска атмосфера">
    <meta name="keywords" content="Ваньовата къща, къща, къща за гости, почивка, сувенири, картини, пана, бижута, аксесоари, икони, рамки, свещи, полускъпоценни камъни, камък, смола, рисувано стъкло, ръчна изработка, дърво, смолян, смилян, родопи, родопите, дух, български, домашно, ръчно, майстор, естествени материали, природа">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Company - v4.7.0
    * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a th:href="@{/}"><span>Rossi</span>Art</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a th:href="@{/}" class="logo me-auto me-lg-0"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0" th:object="${shoppingCart}">
            <ul>
                <li><a th:href="@{/}">Начало</a></li>

                <li class="dropdown"><a href="#"><span>Продукти</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a th:href="@{'/products'}"><span th:text="'Всички'"></span></a>
                        </li>
                        <li>
                            <a th:href="@{'/products/new'}"><span th:text="'Нови'"></span></a>
                        </li>
                        <li>
                            <a th:href="@{'/products/inAction'}"><span th:text="'В акция'"></span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#"><span>Категории</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{'/products/' + ${category.name}}"><span th:text="${category.name}"></span></a>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/contacts}">Контакти</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Админ</a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}">Регистрация</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">Профил</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="navbar order-last order-lg-0">
            <a class="active" th:href="@{/shoppingCart}" th:text="'Количка(' + ${shoppingCart.order.size} + ')'"></a>
        </div>
        <div class="header-social-links d-flex">
            <a href="https://www.facebook.com/profile.php?id=100078410862618"
               class="facebook"><i class="bu bi-facebook"></i></a>
        </div>

    </div>
</header><!-- End Header -->


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Количка</h2>
                <ol>
                    <li><a th:href="@{/}">Начало</a></li>
                    <li>Количка</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <p>
        <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
    </p>

    <!-- ======= Shopping cart 1 ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

                <!-- ======= Shopping cart 2 ======= -->
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <div class="box featured">
                        <h3 th:text="'Количка(' + ${shoppingCart.order.size} + ')'"></h3>

                        <div>
                            <div class="row" th:each="productDto : ${shoppingCart.order.productList}">
                                <a th:href="@{'/productsDetails/' + ${productDto.productId}}">
                                    <img th:src="@{'/productPicture/' + ${productDto.productId} + '/1'}"
                                         class="img-fluid" alt="">
                                </a>
                                <div th:id="product-info + ${productDto.productId}"
                                     th:align="left"
                                     th:text="${productDto.name} + ' / ' + ${#numbers.formatDecimal(productDto.price,1,2)} + 'лв.'
                                              + ' / '  + ${productDto.orderedQuantity}  + ' бр. / ' +
                                   ${#numbers.formatDecimal(productDto.getAmount(),1,2)} + 'лв.'">
                                </div>


                                <div class="row">
<!--                                quantity-up-->
                                <form th:class="quantity-up" th:id="${productDto.productId}" th:object="${productDto}"
                                      method="post" enctype="multipart/form-data">

                                    <div>
                                        <input name="productId" type="hidden" data-th-value="${productDto.productId}"
                                               th:value="${productDto.getProductId()}" class="mb-2"/>
                                    </div>
                                    <input class="unstyled-button" type="submit" th:id="submit-val + ${productDto.productId}"
                                           th:value="'Увеличи бр.'"/>
                                </form>

<!--                                quantity-down-->
                                <form th:class="quantity-down" th:id="${productDto.productId}" th:object="${productDto}"
                                      method="post" enctype="multipart/form-data">

                                    <div>
                                        <input name="productId" type="hidden" data-th-value="${productDto.productId}"
                                               th:value="${productDto.getProductId()}" class="mb-2"/>
                                    </div>
                                    <input class="unstyled-button" type="submit" th:id="submit-val + ${productDto.productId}"
                                           th:value="'Намали бр.'"/>
                                </form>

                                <!--                                Remove product-->
                                <form th:class="remove-product" th:id="${productDto.productId}" th:object="${productDto}"
                                      th:action="@{'/shoppingCart/remove/' + ${productDto.productId}}"
                                      method="post" enctype="multipart/form-data">

<!--                                    <div>-->
<!--                                        <input name="productId" type="hidden" data-th-value="${productDto.productId}"-->
<!--                                               th:value="${productDto.getProductId()}" class="mb-2"/>-->
<!--                                    </div>-->
                                    <input class="unstyled-button" type="submit" th:id="submit-val + ${productDto.productId}"
                                           th:value="'Премахни'"/>
                                </form>

                                <br>
                                <br>
                            </div>
                            </div>


                            <div th:id="transport-costs" th:align="left"
                                 th:text="'Транспорт: ' +  ${#numbers.formatDecimal(shoppingCart.order.transportCosts,1,2)} + 'лв.'"></div>
                        </div>
                        <h4 th:id="order-amount" th:text="${#numbers.formatDecimal(shoppingCart.order.amount,1,2)} + 'лв.'"><span></span></h4>
                        <div class="btn-wrap">
                            <a th:href="@{/orders}" class="btn-buy">Поръчай</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Най-често поръчвани</h2>
                <p>Очаквайте скоро</p>
            </div>

<!--            <div class="faq-list">-->
<!--                <ul>-->
<!--                    <li data-aos="fade-up">-->
<!--                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"-->
<!--                                                                       data-bs-target="#faq-list-1">Non consectetur a-->
<!--                        erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i-->
<!--                                class="bx bx-chevron-up icon-close"></i></a>-->
<!--                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">-->
<!--                            <p>-->
<!--                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non-->
<!--                                curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus-->
<!--                                non.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li data-aos="fade-up" data-aos-delay="100">-->
<!--                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"-->
<!--                                                                       data-bs-target="#faq-list-2" class="collapsed">Feugiat-->
<!--                        scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i-->
<!--                                class="bx bx-chevron-up icon-close"></i></a>-->
<!--                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">-->
<!--                            <p>-->
<!--                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum-->
<!--                                velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec-->
<!--                                pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus-->
<!--                                turpis massa tincidunt dui.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li data-aos="fade-up" data-aos-delay="200">-->
<!--                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"-->
<!--                                                                       data-bs-target="#faq-list-3" class="collapsed">Dolor-->
<!--                        sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i-->
<!--                                class="bx bx-chevron-up icon-close"></i></a>-->
<!--                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">-->
<!--                            <p>-->
<!--                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus-->
<!--                                pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum-->
<!--                                tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna-->
<!--                                molestie at elementum eu facilisis sed odio morbi quis-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li data-aos="fade-up" data-aos-delay="300">-->
<!--                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"-->
<!--                                                                       data-bs-target="#faq-list-4" class="collapsed">Tempus-->
<!--                        quam pellentesque nec nam aliquam sem et tortor consequat? <i-->
<!--                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">-->
<!--                            <p>-->
<!--                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est-->
<!--                                ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit-->
<!--                                adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li data-aos="fade-up" data-aos-delay="400">-->
<!--                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"-->
<!--                                                                       data-bs-target="#faq-list-5" class="collapsed">Tortor-->
<!--                        vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i-->
<!--                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">-->
<!--                            <p>-->
<!--                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo-->
<!--                                integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc-->
<!--                                eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->

        </div>
    </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Rossi-Art</h3>
                    <p>
                        гр. Смолян <br>
                        ул. Хан Аспарух<br>
                        новия център <br><br>
                        <strong>Phone:</strong> +359 877 999 292<br>
                        <strong>Email:</strong> rossica_sm@abv.bg<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Полезни линкове</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/}">Начало</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/products}">Продукти</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/contacts}">Контакти</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/login}">Вход</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/sign-up}">Регистрация</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Категории</h4>
                    <ul>
                        <li th:each="category : ${categories}"><i class="bx bx-chevron-right"></i>
                            <a th:href="@{'/products/' + ${category.name}}"><span th:text="${category.name}"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Company</span></strong>. All Rights Reserved
            </div>

        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://www.facebook.com/profile.php?id=100078410862618" class="facebook"><i
                    class="bx bxl-facebook"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- AJAX !!!!!!!!!!! -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<script>
    $(".quantity-up").submit(function (event) {
        console.log("this is a quantity-up log:)") //check
        console.log(event) //check
        event.preventDefault()
        let data = $(this).serialize();
        // debugger;
        console.log("data: " + data) //check
        console.log("this: " + $(this)) //check
        $.ajax({
            type: "POST",
            url: "/rest/cart/quantityUP",
            data: data,
            success: function (d) {
                console.log("success")
                console.log(d) //check
                $("#transport-costs").text("Транспорт: " +  d.cart.order.transportCosts + "лв.")

                $("#order-amount").text(parseFloat(d.cart.order.amount).toFixed(2) + "лв.")

                $("#product-info" + d.productDTO.productId).text(d.productDTO.name + " / " + parseFloat(d.productDTO.price).toFixed(2) + "лв."
                                              + " / "  + d.productDTO.orderedQuantity  + " бр. / " +
                  parseFloat(d.productDTO.price / d.productDTO.singlePackage * d.productDTO.orderedQuantity).toFixed(2) + "лв.");
            }
        })
    })
</script>

<script>
    $(".quantity-down").submit(function (event) {
        console.log("this is a quantity-down log:)") //check
        console.log(event) //check
        event.preventDefault()
        let data = $(this).serialize();
        // debugger;
        console.log("data: " + data) //check
        console.log("this: " + $(this)) //check
        $.ajax({
            type: "POST",
            url: "/rest/cart/quantityDOWN",
            data: data,
            success: function (d) {
                console.log("success")
                console.log(d) //check
                $("#transport-costs").text("Транспорт: " +  d.cart.order.transportCosts + "лв.")

                $("#order-amount").text(parseFloat(d.cart.order.amount).toFixed(2) + "лв.")

                $("#product-info" + d.productDTO.productId).text(d.productDTO.name + " / " + parseFloat(d.productDTO.price).toFixed(2) + "лв."
                                              + " / "  + d.productDTO.orderedQuantity  + " бр. / " +
                 parseFloat(d.productDTO.price / d.productDTO.singlePackage * d.productDTO.orderedQuantity).toFixed(2) + "лв.");
            }
        })
    })
</script>

</body>

</html>